/* ChatWindow.module.css */
.chatWindow {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #36393f;
    /* Discord dark theme background color */
    height: 100vh;
    padding: 66px 50px;
    color: white;
}



.messageList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
    background-color: #7289da;
    /* Discord brand color */
    color: white;
}

.sentByCurrentUser {
    align-self: flex-end;
}

.sentByOtherUser {
    align-self: flex-start;
    background-color: #40444b;
    /* Discord message background color for other users */
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sender {
    font-weight: bold;
    margin-right: 5px;
}

.content {
    margin-right: 10px;
}

.timestamp {
    color: #999999;
    font-size: 12px;
    margin: 0 5px;
}

/* Add any additional styling as needed */
.sentByCurrentUser .timestamp {
    color: white;
}

@media (max-width:700px) {
    .message {
        width: 90%;
    }
}

@media (min-width:1000px) {
    .message {
        width: 600px;
    }
}