.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    /* Discord dark theme background color */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Discord shadow effect */
    z-index: 10;
}

.logo a {
    color: #7289da;
    /* Discord brand color */
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navList li {
    margin-right: 20px;
}

.navList a {
    color: #7289da;
    /* Discord brand color */
    text-decoration: none;
    font-weight: bold;
}

.navList a:hover {
    border-bottom: 2px solid #7289da;
    /* Discord brand color */
}